<!--Definindo se é um form de atualização ou de cadastro -->
{{#if jogo}}
    <h1>Atualizar Jogo</h1>
    <form action="/jogos/{{jogo.id}}/update" method="post">
{{else}}    
    <h1>Cadastrar Jogo</h1>
    <form action="/jogos/novo" method="post">
{{/if}} 
    <div>
        <label for="titulo">Título:</label>
        <input type="text" name="titulo" id="titulo" value="{{jogo.titulo}}"/>
    </div>
    <div>
        <label for="descricao">Descrição:</label>
        <input type="text" name="descricao" id="descricao" value="{{jogo.descricao}}"/>
    </div>
    <div>
        <label for="preco">Preço:</label>
        <input type="text" name="preco" id="preco" value="{{jogo.preco}}"/>
    </div>
    {{#if jogo}}
        <input type="submit" value="Salvar" />
    {{else}}
        <input type="submit" value="Enviar" />
    {{/if}}
</form>
